@import "../reindeer/styles.css";

.v-weelayout .v-weelayout-cell-caption * {
	vertical-align: middle;
	float: none;
	}

.v-weelayout {
	
	}

.test {
	margin: 50px;
	}

.v-label {
	background: green;
	border: 1px solid black;
	-webkit-box-sizing: border-box;
	margin: 5px;
	}